footer {height: 600px; background-color: rgb(44, 42, 41);}

footer ul{
    list-style-type: none;
}
footer ul a{
    color: white;
}
footer ul a:hover{
    color: white;
}

footer .reward {
    background-color: rgb(40, 40, 40);
    height: 80px;
}
footer .reward-img-move {
    text-align: center;
}

footer .text {
    font-size: 12px;
    padding-right: 10px;
    color: white;
}
footer .text-color {
    color: white;
}
footer .link {
    width: 120px;
    height: 40px;
    border: 1px solid white;
    text-align: center;
    line-height: 35px;
}

footer .list {
    color: gray;
}