.main-visual {
    height: 646px;
    background-image:
    url(/starbucks/image/2_main_visual/main_background.png);
}

.main-visual .count-on-luck-move {
    padding-left: 430px;
    padding-top: 55px;
}

.main-visual .check-btn {
    width: 125px;
    height: 38px;
    left: 510px;
    top: 50px;
    line-height: 10px;
    font-size: 14px;
    color: rgb(44, 72, 59);
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid rgb(44, 72, 59);
    position: relative;
    z-index: 2;
}

.main-visual .check-btn:hover {
    background-color: rgb(44, 72, 59);
    color: white;
    text-decoration-line: underline;
}

.main-visual .oat-latte-move {
    padding-left: 360px;
    padding-top: 90px;
}

.main-visual .citrus-tea-move {
    padding-left: 20px;
    padding-top: 230px;
}

.main-visual .milk-tea-move {
    padding-left: 800px;
    padding-top: 160px;
}