.line-notice {
    height: 62px;
    background-image: url(/starbucks/image/3_line_notice/line_notice_background.jpg);
    background-size: 1920px;
}

.line-notice .line-notice-text1 {
    width: 90px;
}

.line-notice .notice-text1-move {
    padding-left: 290px;
    line-height: 62px;
}

.line-notice .notice-text {
    padding-left: 70px;
    line-height: 55px;
}

.line-notice .notice-text-font {
    font-size: 20px;
    color: white;
}

.line-notice .plus-move {
    padding-left: 390px;
    line-height: 55px;
}

.line-notice .notice-text2-move {
    padding-left: 230px;
    line-height: 50px;
}

.line-notice .arrow-move {
    padding-left: 50px;
    line-height: 50px;
}