/* 폰트 import */
@font-face {
  font-family: 'cloba';
  src: url(../../public/font/nanum.ttf)
}

@font-face {
  font-family: 'nanum';
  src: url(../../public/font/NanumSquare_acEB.ttf);
}

/* header */
header {
  width: 1920px;
  font-family: 'nanum';
  position: relative;

  .notice {
    position: absolute;
    left: 80px;
    top: 30px;
    font-size: 40px;
    font-weight: 600;
    font-family: 'cloba';
  }

  h1 {
    width: 100%;
    padding-top: 40px;
    text-align: center;
    font-size: 70px;
  }

  .openAddPopupBtn {
    font-size: 80px;
    position: absolute;
    right: 100px;
    top: 60px;
    transition: all 0.3s ease 0s;
    cursor: pointer;

    &:hover {
      transform: scale(1.2);
    }
  }

  .blurBackground {
    width: 100%;
    height: 1009px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.801);
    transition: all 1s;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
  }
}