/* 추가 팝업 */
.popup {
    width: 600px;
    height: 840px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(223, 219, 219);
    border-radius: 30px;
    border: 1px solid gray;
    transition: all 1s;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
}
/* 추가 팝업 상단 */
.popup .popup-head {
    height: 70px;
    border-bottom: 1px solid gray;
}
/* 추가 팝업 상단 <Add The List> */
.popup .popup-head span {
    position: relative;
    left: 40%;
    line-height: 70px;
    font-size: 28px;
    font-weight: 500;
    font-family: fantasy;
}
/* 추가 팝업 업로드 버튼 */
.popup .popup-head .btn-save {
    width: 40px;
    height: 40px;
    position: relative;
    left: 400px;
    transition: all 1s;
    cursor: pointer;
}
.popup .popup-head .btn-save:hover {
    top: 2px;
}
/* (제목 내용 날짜 진행)위치 */
.popup .popup-body .popup-title, .popup-content, .popup-date, .popup-progress{
    margin-top: 10px;
    text-align: center;
}
/* (제목 내용 날짜 진행) 폰트 */
.popup .popup-body .popup-text {
    font-size: 30px;
    font-weight: 600;
}
/* 제목 */
.popup .popup-body .popup-title .title-text {
    width: 80%;
    height: 40px;
    position: relative;
    left: 10%;
}
/* 내용 */
.popup .popup-body .popup-content .content-text {
    width: 90%;
    height: 160px;
    position: relative;
    left: 5%;
}
/* 날짜 */
.popup .popup-body .popup-date .popup-text {
    margin: 0 40px 0 35px;
}
.popup .popup-body .popup-date .date-start-text, .date-end-text {
    width: 75%;
    margin: 0 30px 0 30px;
}
/* 이미지 업로드 */
.popup .popup-body .imageLoad {
    width: 100%;
    height: 330px;
}
/* 파일 선택 버튼 */
.popup .popup-body .imageLoad label img {
    width: 50px;
    position: relative;
    left: 280px;
    top: 25px;
    cursor: pointer;
}
/* input file 원본 숨기기 */
.popup .popup-body .imageLoad input[type=file]{
    visibility: hidden;
}
/* 미리보기 버튼 */
.popup .popup-body .imageLoad .previewBtn {
    width: 35px;
    position: relative;
    left: 470px;
    top: 20px;
    cursor: pointer;
}
/* 처음 미리보기 이미지 */
.popup .popup-body .imageLoad .image {
    width: 300px;
    max-height: 230px;
    position: relative;
    left: 160px;
}
/* 미리보기 이미지 */
.popup .popup-body .imageLoad .previewImg {
    width: 300px;
    max-height: 230px;
    position: relative;
    left: 160px;
    top: 40px;
    border-radius: 20px;
}