/* 전체 슬라이드 (보여지는 부분) */
// .slider {
//     width: 1834px;
//     height: 740px;
//     position: relative;
//     left: 41px;
//     overflow: hidden;
// }
// /* 전체 슬라이드 (넘어가는 부분) */
// .main__text {
//     background-color: aliceblue;
//     width: 800000px;
//     height: 740px;
//     position: absolute;
//     background-color: none;
//     display: flex;
// }
/* 리스트 박스 */
.cardView {
  width: 400px;
  height: 600px;
  border-radius: 20px;
  
  .card__image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-height: 300px;
  }
  // .front {
  //   width: 100%;
  //   height: 100%;
  //   position: relative;

  //   .front__imageArea {
  //     width: 400px;
  //     height: 400px;
  //     position: absolute;
  //     left: 20px;
  //     top: 60px;

  //     .front__image {
  //       width: 400px;
  //       max-height: 400px;
  //       position: absolute;
  //       top: 0;
  //       bottom: 0;
  //       margin: auto;
  //     }
  //   }

  //   .front__modifyBtn {
  //     font-size: 100px;
  //     position: absolute;
  //     bottom: 70px;
  //     left: 60px;
  //     cursor: pointer;
  //   }

  //   .front__deleteBtn {
  //     font-size: 100px;
  //     position: absolute;
  //     bottom: 70px;
  //     right: 60px;
  //     cursor: pointer;
  //   }
  // }

  // .behind {
    
  // }

}

.main-text .list-box:first-child {
  margin-left: 710px;
}

/* 리스트 박스 제목 */
.main-text .list-box .list-head {
  font-size: 30px;
}

/* 리스트 박스 이미지 박스 */
.main-text .list-box .image-box {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 20px;
  background-color: white;
}

/* 이미지 박스 이미지 위치 */
/* 이미지 박스 이미지 크기 */
.main-text .list-box .image-box .image img {
  width: 400px;
  max-height: 300px;
  border-radius: 20px;
}

/* 이미지 박스 삭제 버튼 */
.main-text .list-box .image-box .delete {
  width: 130px;
  position: absolute;
  left: 55%;
  bottom: 100px;
  border-radius: 20px;
  cursor: pointer;
}

.main-text .list-box .image-box .delete:hover {
  bottom: 110px;
}

/* 수정 버튼 */
.main-text .list-box .image-box .modify {
  width: 130px;
  position: absolute;
  left: 15%;
  bottom: 100px;
  border-radius: 20px;
  cursor: pointer;
}

.main-text .list-box .image-box .modify:hover {
  bottom: 110px;
}

/* 리스트 박스 텍스트 박스 */
.main-text .list-box .text-box {
  text-align: center;
  display: none;
}

/* 제목 */
.main-text .list-box .text-box .title {
  width: 100%;
  height: 120px;
  margin-top: 20px;
  font-size: 22px;
  line-height: 40px;
}

/* 내용 */
.main-text .list-box .text-box .content {
  width: 100%;
  height: 260px;
  line-height: 40px;
  font-size: 18px;
}

/* 날짜 */
.main-text .list-box .text-box .date {
  width: 100%;
  height: 120px;
  line-height: 40px;
  font-size: 20px;
}

.main-text .list-box .text-box .date .date-text {
  font-size: 24px;
  line-height: 60px;
}

/* 완료 */
.main-text .list-box .complte {
  width: 100%;
  height: 200px;
}

.main-text .list-box .complte div {
  text-align: center;
}

/* 체크 박스들 */
.main-text .list-box .complte img {
  width: 100px;
  height: 110px;
  cursor: pointer;
}

/* 체크 박스 */
.main-text .list-box .complte .checkBox {
  position: relative;
  left: 180px;
  top: 8px;
}

.main-text .list-box .complte .checkBox:hover {
  top: 5px;
}

/* 체크 된 박스 */
.main-text .list-box .complte .checkedBox {
  position: relative;
  left: 180px;
  top: 8px;
  display: none;
}

.main-text .list-box .complte .checkedBox:hover {
  top: 5px;
}